@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 400px;
    background-color: #FDC317;
    padding: 1em;
    border-radius: 2em;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

button{
    border: 0px;
    background-color: #FD4E17;
    padding: 1em;
    border-radius: 1em;    
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}
.flex{
    display: flex;
    width: 100%;
    flex-wrap: wrap;    
}

.flex input, .flex label{
    width: 100%;
    margin-bottom: 1em;
}

.flex input{
    padding: 1em;
    border-radius: 1em;    
    width: 100%;
    font-size: 1em;
    outline: 0;
}

#results {
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
    font-weight: 900;
    margin-bottom: 1em;
}

#weight-guide {
    background: #FA9623;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 2em;
}

h1{
    text-align: center;
}

.alto{
    color:red;
}
.medio{
    color:green;
}
.bajo{
    color:red;
}

input:invalid{
    box-shadow: 2px 2px 2px 1px rgba(255,0,0,0.4)!important;
    border: 0;
}
input:valid{
    box-shadow: 2px 2px 2px 1px rgba(0,255,0,0.4)!important;
    border: 0;
}